body{
	padding: 1em;
	background-color: #470C09;
	font-family: Verdana, sans-serif;
}
.title {
	color: #E8E4D3;
	text-align: center;
}
p {
  	color: #F4D58D;
}
td {
  	color: #F4D58D
}
.container {
  	position: relative;
  	padding: 1em;
}
nav {
  	position: absolute;
  	left: 0px;
  	width: 200px;
  	text-align: left;
  	color: #BF0603;
	background-image: url("images/bg-space-3.png");
}
section {
  	margin-left: 200px;
  	padding: 8em;
}
.bgIndex {
	background-image: url("images/bg-purple-mist.jpeg");
}
.bgHistory {
	background-image: url("images/bg-marble.png");
	color: #001427;
}
.bgGenre {
	background-image: url("images/bg-spooky-pattern.png");
}
.tab {
	margin-left: 1em
}
