body{
	padding: 1em;
	background-color: #470C09;
	color: #F4D58D;
	font-family: Verdana, sans-serif;
}
.title {
	text-align: center;
}
.container {
  	position: relative;
  	padding: 1em;
}
nav {
  	position: absolute;
  	left: 0px;
  	width: 200px;
  	text-align: left;
  	color: #BF0603;
	background-image: url("images/bg-space-3.png");
}
section {
  	margin-left: 200px;
  	padding: 4em;
}
.Index {
	background-image: url("images/bg-dark-red-pattern.jpg");
}
.History {
	background-image: url("images/bg-marble.png");
	color: #001427;
}
.Genre {
	background-image: url("images/bg-spooky-pattern.png");
}
.Films {
	background-image: url("images/bg-purple-mist.jpeg");
}
.DeepRed {
	background-image: url("images/bg-red-swirls.png");
}
.BlackSunday {
	background-image: url("images/bg-black-and-white.png");
}
.Suspiria {
	background-image: url("images/bg-red-pattern.jpg");
}
.tab {
	margin-left: 5em;
}
